	.btn {	
	height:30px;
	border-color:#c2e254 #9bb838 #9bb838 #c2e254;
	border-style:solid;
	border-width:6px;
	background:#c2e254;
	cursor:pointer;
	}
	.btn:hover {	
	border-color:#FFCC66 #FFFF99 #FFFF99 #FFCC66;
	border-style:solid;
	border-width:6px;
	background:#FFFF99;
	}
	.btn:focus {	
	background:#ddd;
	border-color:#ddd #333 #333 #ddd;
	border-style:solid;
	border-width:6px;
	}
	.btn:active {		
	background:#ff0000;
	border-color:#ddd #333 #333 #ddd;
	border-style:solid;
	border-width:6px;
	}



	  #menu, #menu li {

        margin: 0;

       padding: 0;

    }

    #menu {

        text-align: center;

       background: #03658e;

    }

    #menu li{

        display:inline-block;

        text-align: center;

    }

    #menu a {

        display: block;

        padding: 5px 15px;

        color: #fff;

       font-size:150%;

       text-decoration: none;

    }

    #menu a:hover {

        background: #8AB8CC;

    }

.body{
	background-color: #B3B3B3;
}